<div class="card">
  <div class="card-body">
    <h5 class="card-title">Επεξεργασία μισθοδοσίας</h5>
    <div class="container mt-4">
      <form style="width:100%;" #salaryForm="ngForm" (ngSubmit)="updateSalary()" autocomplete="off">
        <div class="form-group">
          <label for="employeeId">Employee ID</label>
          <select class="form-control" id="employeeId" name="employeeId" [(ngModel)]="salary.employeeId" required>
            @for (employee of employees; track $index) {
            <option value="{{employee.id}}">{{employee.firstName}} {{employee.lastName}} {{employee.email}}</option>
            }
            <!-- <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</option> -->
          </select>
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="salary.amount" required
            value="1550">
        </div>
        <div class="form-group">
          <!-- <label for="submitterId">Submitter ID</label> -->
          <input type="text" class="form-control" id="submitterId" name="submitterId" [(ngModel)]="salary.submitterId"
            required value="{{accountService.currentUser()?.user?.id}}" hidden>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <input type="text" class="form-control" id="status" name="status" [(ngModel)]="salary.status" required
            value="Done">
        </div>
        <div class="form-group">
          <label for="createdAt">Created At</label>
          <input type="datetime-local" class="form-control" id="createdAt" name="createdAt"
            [(ngModel)]="salary.createdAt" required value="2025-03-03T23:57:56+02:00">
        </div>
        <div class="form-group">
          <!-- <label for="employeeFirstName">Employee First Name</label> -->
          <input type="text" class="form-control" id="employeeFirstName" name="employeeFirstName"
            [(ngModel)]="salary.employeeFirstName" required value="{{salary.employeeFirstName}}" hidden>
        </div>
        <div class="form-group">
          <!-- <label for="employeeLastName">Employee Last Name</label> -->
          <input type="text" class="form-control" id="employeeLastName" name="employeeLastName"
            [(ngModel)]="salary.employeeLastName" required value="{{salary.employeeLastName}}" hidden>
        </div>
        <div class="form-group">
          <!-- <label for="submitterEmail">Submitter Email</label> -->
          <input type="email" class="form-control" id="submitterEmail" name="submitterEmail"
            [(ngModel)]="salary.submitterEmail" required value="{{salary.submitterEmail}}" hidden>
        </div>
        <div class="form-group text-center mt-4">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>