<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{department.name}}</h5>

    <!-- <div class="container">
      <form style="width:100%;" #deleteDepartmentForm="ngForm" (ngSubmit)="deleteDepartment()" autocomplete="off">
        <button class="btn-lg float-right" type="submit" class="btn btn-danger">Διαγραφή</button>
      </form>
    </div> -->
    <!-- Delete Button -->
    <div class="container">
      <form style="width:100%;" #deleteDepartmentForm="ngForm" (ngSubmit)="deleteDepartment()" autocomplete="off">
        <button class="btn btn-danger btn-lg float-right" type="submit"
          style="position: absolute; top: 10px; right: 10px; border: 1px solid;" alt="Διαγραφή">
          <i class="fa fa-trash"></i>
        </button>
      </form>
    </div>

    <form style="width:100%;" #updateDepartmentForm="ngForm" (ngSubmit)="updateDepartment()" autocomplete="off">
      <div class="form-group">
        <label for="name">Όνομα τμήματος</label>
        <input type="name" class="form-control" id="name" name="name" [(ngModel)]="department.name" required
          value="{{department.name}}">
      </div>
      <div class="form-group text-center mt-4">
        <button type="submit" class="btn btn-success">Αποθήκευση</button>
        <div class="m-2"></div>
      </div>
    </form>


  </div>
</div>