<nav class="navbar navbar-expand-md navbar-dark bg-primary" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">HarmoniQ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="onToggleNav()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="showNav ? 'show collapse navbar-collapse' : 'collapse navbar-collapse'" id="navbarCollapse">
      <div class="container">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          @if (accountService.currentUser()) {
          @if (accountService.currentUser()?.user?.role === 'Admin') {
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="admin/dashboard">Διαχειριστικό</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="admin/users">Χρήστες</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="admin/employees">Εργαζόμενοι</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="admin/departments">Τμήματα</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="admin/leaves">Άδειες</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="admin/salaries">Μισθοδοσίες</a>
          </li>
          }
          @if (accountService.currentUser()?.user?.role === 'Manager') {
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="manager/dashboard">Πίνακας Ελέγχου</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="manager/leaves">Άδειες</a>
          </li>
          }
          @if (accountService.currentUser()?.user?.role === 'User') {
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="employee/dashboard">Πίνακας Ελέγχου</a>
          </li>
          }
          }
        </ul>
      </div>

      @if(accountService.currentUser()) {
      <div class="dropdown" dropdown>
        <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">Καλως ορίστατε
          {{this.userFullName}}</a>
        <div *dropdownMenu class="dropdown-menu">
          @if (accountService.currentUser()?.user?.role === 'Admin') {
          <a class="dropdown-item">Προφίλ</a>
          <div class="dropdown-divider"></div>
          }
          <a class="dropdown-item" (click)="logout()">Αποσύνδεση</a>
        </div>
      </div>
      }

      @if (!accountService.currentUser()) {
      <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off">
        <input name="email" [(ngModel)]="model.email" class="form-control me-2" placeholder="Email">
        <input name="password" [(ngModel)]="model.password" class="form-control me-2" placeholder="Password"
          type="password">
        <button class="btn btn-success" type="submit">Είσοδος</button>
      </form>
      }
    </div>
  </div>
</nav>